PORT=

# Database Configuration
SUPABASE_CONNECTION_STRING=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DB_DIALECT=

# JWT Configuration
JWT_SECRET=

# Email Configuration
EMAIL_USER=
EMAIL_PASS=

# MQTT Configuration
MQTT_BROKER_URL=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PATTERN=